<div class="mt-4" id="page-index">
  <form class="form-inline d-flex search-bar mt-5 mx-auto rounded-pill px-3 py-2" action="<%= services_path %>" method="get">
        <input class="form-control mr-sm-2 border-0 rounded-pill" type="search" name="query" placeholder="What do you need help with?" aria-label="Search">
        <button class="btn my-2 my-sm-0 rounded-pill ms-2" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
  </form>

  <!-- Filter form -->
  <div class="form-container mt-4 mb-4">
    <%= form_with url: services_path, method: :get, class: "d-flex flex-row justify-content-center g-3" do |f| %>
      <div class="category-filter mx-2">
        <%= f.select :category,
            options_for_select(Service.distinct.pluck(:category), params[:category]),
            { prompt: "Select Category" },
            class: "form-select rounded-pill" %>
      </div>
      <div class="price-filter mx-2">
        <%= f.number_field :max_price,
            value: params[:max_price],
            class: "form-control rounded-pill",
            placeholder: "Maximum Price" %>
      </div>

       <div data-controller="address-autocomplete" data-address-autocomplete-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>">
        <input class="d-none" type="text" name="location" id="location" data-address-autocomplete-target="address">
      </div>

      <div class="buttons-filter d-flex flex-row mx-2">
        <%= f.submit "Filter", class: "btn btn-secondary rounded-pill" %>
        <%= link_to "Clear", services_path, class: "btn btn-secondary rounded-pill ms-2" %>
      </div>
    <% end %>
  </div>

  <!-- Centered map container -->
  <div class="d-flex justify-content-center mb-4">
    <div style="width: 100%; max-width: 800px; height: 200px; margin-bottom: 20px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>

  <!-- Bootstrap grid system -->
  <div class=" w-75 mx-auto d-flex flex-column">
    <% @services.each do |service| %>
        <%= link_to service_path(service), class: "text-decoration-none text-reset" do %>
          <div class="service-card rounded-4 p-2 mb-3 d-flex align-items-center justify-content-between flex-row">
              <!-- Image -->
              <img class="rounded-4 card-img" src="https://www.thejakartapost.com/longforms/longform-gojek16mjg/skin/img/longform/gojek16mjg/gjkmjg01.jpg" alt="<%= service.title %>">
              <div class="card-info">
                <div class="d-flex align-items-center">
                <h3 class="card-title pb-0"><%= service.title %></h3>
                <%= render "favorites/favorite_toggle", service: service  %>
                </div>
                <p class="card-text m-0 fav-icon"><%= service.description %></p>
              </div>
              <div class="card-price mx-3">
                <p class="my-0"><span>Price:</span><br>$<%= service.price %></p>
              </div>
              <div class="card-location mx-3">
                <p class="my-0"><span>Location:</span><br><%= service.address %></p>
              </div>
                <button class="btn btn-grey btn-rsqt"><i class="fa-solid fa-arrow-right"></i></button>
          </div>
        <% end %>
    <% end %>
  </div>
</div>
