<div class="container mt-4" id="page-index">
  <form class="form-inline d-flex search-bar mt-5 mx-auto rounded-pill px-3 py-2" action="<%= services_path %>" method="get">
        <input class="form-control mr-sm-2 border-0 rounded-pill" type="search" name="query" placeholder="What do you need help with?" aria-label="Search">
        <button class="btn my-2 my-sm-0 rounded-pill ms-2" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
  </form>

  <!-- Filter form -->
  <div class="form-container mt-4 mb-4">
      <%= form_tag services_path, method: :get, class: "d-flex flex-row  justify-content-center g-3" do %>
        <div class="category-filter mx-2">
          <%= select_tag :category,
              options_for_select(Service.distinct.pluck(:category), params[:category]),
              prompt: "Select Category",
              class: "form-select rounded-pill  " %>
        </div>
        <div class="price-filter mx-2">
          <%= number_field_tag :max_price,
              params[:max_price],
              class: "form-control rounded-pill  ",
              placeholder: "Maximum Price" %>
        </div>
        <div class="buttons-filter d-flex flex-row mx-2">
          <%= submit_tag "Filter", class: "btn btn-secondary rounded-pill " %>
          <%= link_to "Clear", services_path, class: "btn btn-secondary rounded-pill ms-2" %>
        </div>
      <% end %>
    </div>
  </div>

  <%# map view (i hope) %>
  <div style="width: 100%; height: 200px; margin-bottom: 20px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <!-- Bootstrap grid system -->
  <div class="row justify-content-center">
    <% @services.each do |service| %>
      <div class="col-8 mb-3">
        <%= link_to service_path(service), class: "text-decoration-none text-reset" do %>
          <div class="service-card rounded-pill mb-3 d-flex align-items-center justify-content-between flex-row">
              <!-- Image -->
              <img class="rounded-circle card-img" src="https://www.thejakartapost.com/longforms/longform-gojek16mjg/skin/img/longform/gojek16mjg/gjkmjg01.jpg" alt="<%= service.title %>">
              <div class="card-info">
                <h5 class="card-title pb-2"><%= service.title %></h5>
                <p class="card-text"><%= service.description %></p>
              </div>
              <div class="card-price mx-3">
                <p class="my-0"><span class="tag">Price:</span><br>$<%= service.price %></p>
              </div>
              <div class="card-location mx-3">
                <p class="my-0"><span class="tag">Location:</span><br><%= service.address %></p>
              </div>

                <button class="btn "></i>Request</button>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
