
<div class="align-content-center d-flex justify-content-center align-items-start mt-5 h-100">
  <div class="d-flex flex-column p-4">
    <h1 class="p-1 almost-text "><%= @service.title %></h1>
      <h6 class="px-2 mb-3 text-capitalize almost-text"> Category > <%= @service.category %></h6>
    <div class="service-details p-5">
      <p>Price: <%= @service.price %> $</p>
      <p >Description: <%= @service.description %></p>
       <h4 class="p-1 m-1 almost-text"><%= @service.user.email %></h4>
    </div>
      <%= link_to "back", services_path, class:"btn b-btn rounded-pill mt-4 mx-auto align-self-start" %>
  </div>
<div class="d-flex flex-column p-4">
  <h2 class="almost-text">Interest about this service ?</h2>

<%= simple_form_for([@service, @request]) do |f| %>
  <%= f.input :description, as: :text, label: "Write a short description of your needs",
   placeholder: "e.g. details, specificities, address if needed... ", input_html: { rows: 10, cols: 40, class:"custom-textaera" } %>
  <%= f.input :date, as: :string, label: "Select a date for this service to be done", input_html: { type: "date", required: true, class:"custom-textaera incentive-text" }, class:"custom-textaera"%>
 <div class="text-center">
    <%= f.input :duration, as: :float, label: "Select the duration you need it", input_html: { type: "number", step: 0.5, min: 0.5, placeholder: "e.g. 1.5 for 1 hour and 30mn", class:"custom-textaera incentive-text" }, class:"custom-textaera"%>
 <div class="text-center">
  <%= f.submit "Send request", class:"btn req-btn rounded-pill" %>
 </div>
<% end %>
</div>
</div>


