<h3 class="text-center mb-5 title">Edit your Information</h3>
<div class="profil-card rounded-4 bg-white p-4 text-center m-auto w-75">


<%= simple_form_for(@user, url: profile_path, method: :patch, html: { multipart: true }) do |f| %>
<div class="form-group ">
    <%= f.input :first_name, label: 'First Name', input_html: { class: 'form-control' } %>
</div>

<div class="form-group">
    <%= f.input :last_name, label: 'Last Name', input_html: { class: 'form-control' } %>
</div>

<div class="form-group">
    <%= f.input :email, label: 'Email', input_html: { class: 'form-control' } %>
</div>

<div class="form-group">
    <%= f.input :phone_number, label: 'Phone Number', input_html: { class: 'form-control', pattern: '\\d*' } %>
</div>

<div class="form-group">
    <%= f.input :avatar, as: :file, label: 'Profile Image', input_html: { class: 'form-control' } %>
</div>

<div class="form-group">
    <%= f.submit 'Update', class: 'btn btn-secondary' %>
</div>

<%= link_to 'Back', profile_path, class: 'btn btn-primary mt-2' %>
<% end %>
</div>
