
<h3 class="text-center mb-5">Edit your Information</h3>

<%= simple_form_for(@user, url: profile_path, method: :patch) do |f| %>
<div class="form-group ">
    <%= f.input :first_name, label: 'First Name', input_html: { class: 'form-control' } %>
</div>

<div class="form-group">
    <%= f.input :last_name, label: 'Last Name', input_html: { class: 'form-control' } %>
</div>

<div class="form-group">
    <%= f.input :email, label: 'Email', input_html: { class: 'form-control' } %>
</div>

<div class="form-group">
    <%= f.input :phone_number, label: 'Phone Number', input_html: { class: 'form-control' } %>
</div>

<div class="form-group">
    <%= f.submit 'Update Information', class: 'btn btn-primary' %>
</div>

<%= link_to 'Back', profile_path %>
<% end %>
