<h1 class="text-center title">Your Information</h1>

<div class="profil-card rounded-4 bg-white p-4 text-center m-auto w-75">
  <img class="rounded-4 my-3" src="<%=@user.avatar%>" alt="avatar" width="110" height="110">

  <div class="form-group d-flex justify-content-center">
  <label class="me-2">First Name:</label>
  <p><%= @user.first_name %></p>
  </div>

  <div class="form-group d-flex justify-content-center">
  <label class="me-2">Last Name : </label>
  <p><%= @user.last_name %></p>
  </div>

  <div class="form-group d-flex justify-content-center">
  <label class="me-2">Email:</label>
  <p><%= @user.email %></p>
  </div>

  <div class="form-group d-flex justify-content-center">
  <label class="me-2">Phone Number:</label>
  <p><%= @user.phone_number %></p>
  </div>

  <div class="form-group">
    <%= link_to 'Edit Profile', edit_profile_path, class: 'btn btn-primary my-3' %>
  </div>
</div>
