<div class="p-2">
  <h2 class="title form-title">Sign Up</h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "user-form" }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :role, as: :radio_buttons, collection: [["Client", "client"], ["Worker", "worker"]],
                  required: true,
                  label_html: { class: "input-label" },
                  input_html: { class: "input-radio" } %>
      <%= f.input :first_name,
                  required: true,
                  autofocus: true,
                  label_html: { class: "input-label" },
                  input_html: { class: "input-field", autocomplete: "first name" } %>
      <%= f.input :last_name,
                  required: true,
                  label_html: { class: "input-label" },
                  input_html: { class: "input-field", autocomplete: "last name" } %>
      <%= f.input :email,
                  required: true,
                  label_html: { class: "input-label" },
                  input_html: { class: "input-field", autocomplete: "email" } %>
      <%= f.input :phone_number,
                  required: false,
                  label_html: { class: "input-label" },
                  input_html: { class: "input-field", autocomplete: "phone number" } %>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  label_html: { class: "input-label" },
                  input_html: { class: "input-field", autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  label_html: { class: "input-label" },
                  input_html: { class: "input-field", autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign Up", class: "btn-primary w-100" %>
    </div>
  <% end %>
</div>

<div class="d-flex justify-content-center align-items-center mb-5">
  <%= render "devise/shared/links"%>
</div>
