<% if @favorites.any? %>
  <div class="w-75 mx-auto d-flex flex-column title">
    <% @favorites.each do |favorite| %>
      <%= link_to service_path(favorite.service), class: "text-decoration-none text-reset" do %>
        <div class="service-card rounded-4 p-2 mb-3 d-flex align-items-center justify-content-between flex-row">
          <!-- Image -->
          <img class="rounded-4 card-img" src="<%= favorite.service.user.avatar %>" alt="<%= favorite.service.title %>">
          <div class="card-info">
            <div class="d-flex align-items-center">
              <h3 class="card-title pb-0"><%= favorite.service.title %></h3>
              <%= render "favorites/favorite_toggle", service: favorite.service %> <!-- Assuming you have a partial to toggle favorites -->
            </div>
            <p class="card-text m-0 fav-icon"><%= favorite.service.description %></p>
          </div>
          <div class="card-price mx-3">
            <p class="my-0"><span>Price:</span><br>$<%= favorite.service.price %></p>
          </div>
          <div class="card-location mx-3">
            <p class="my-0"><span>Location:</span><br><%= favorite.service.address %></p>
          </div>
          <button class="btn btn-grey btn-rsqt"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
      <% end %> 
    <% end %>
  </div>
<% else %>
  <p>You have no favorites yet.</p>
<% end %>