<%# navbar goes here %>
<div class="home-container w-1200px mx-auto">
    <h1 class="text-center">Book trusted help <br> for home tasks</h1>

    <form class="form-inline d-flex search-bar mt-5 mx-auto rounded-pill px-3 py-2" action="<%= services_path %>" method="get">
        <input id="search-bar" class="form-control mr-sm-2 border-0 rounded-pill" type="search" name="query" placeholder="What do you need help with?" aria-label="Search">
        <button class="btn my-2 my-sm-0 rounded-pill ms-2" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>

    <div class="category-container d-flex mt-5 mx-auto">
        <%= link_to services_path(category: "Pool Cleaning and Maintenance"), class: "text-decoration-none text-reset" do %>
            <button class="btn-primary-opposite p-2 rounded-pill mx-2 my-3"><i class="fa-solid fa-droplet"></i>Pool Cleaning</button>
        <% end %>

        <%= link_to services_path(category: "Massage and Wellness"), class: "text-decoration-none text-reset" do %>
            <button class="btn-primary-opposite p-2 rounded-pill  mx-2 my-3"><i class="fa-solid fa-spa"></i>Massage</button>
        <% end %>

        <%= link_to services_path(category: "Gardening and Landscaping"), class: "text-decoration-none text-reset" do %>
            <button class="btn-primary-opposite p-2 rounded-pill mx-2 my-3"><i class="fa-solid fa-tree"></i>Gardening</button>
        <% end %>

        <%= link_to services_path(category: "House Cleaning Services"), class: "text-decoration-none text-reset" do %>
            <button class="btn-primary-opposite p-2 rounded-pill mx-2 my-3"><i class="fa-solid fa-broom"></i>House Cleaning</button>
        <% end %>

        <%= link_to services_path(category: "Catering and Cooking Services"), class: "text-decoration-none text-reset" do %>
            <button class="btn-primary-opposite p-2 rounded-pill mx-2 my-3"><i class="fa-solid fa-utensils"></i>Cooking</button>
        <% end %>

        <%= link_to services_path(category: "Babysitting and Childcare"), class: "text-decoration-none text-reset" do %>
            <button class="btn-primary-opposite p-2 rounded-pill mx-2 my-3"><i class="fa-solid fa-baby"></i>Babysitting</button>
        <% end %>

        <%= link_to services_path(category: "Laundry and Dry Cleaning"), class: "text-decoration-none text-reset" do %>
            <button class="btn-primary-opposite p-2 rounded-pill mx-2 my-3"><i class="fa-solid fa-tshirt"></i>Laundry</button>
        <% end %>

        <%= link_to services_path(category: "Electric and Plumbing"), class: "text-decoration-none text-reset" do %>
            <button class="btn-primary-opposite p-2 rounded-pill mx-2 my-3"><i class="fa-solid fa-lightbulb"></i>Electrician</button>
        <% end %>

        <%= link_to services_path(category: "Pet Care Services"), class: "text-decoration-none text-reset" do %>
            <button class="btn-primary-opposite p-2 rounded-pill mx-2 my-3"><i class="fa-solid fa-bone"></i>Pet Care</button>
        <% end %>

        <%= link_to services_path(category: "Home Repair and Handyman Services"), class: "text-decoration-none text-reset" do %>
            <button class="btn-primary-opposite p-2 rounded-pill mx-2 my-3"><i class="fa-solid fa-wrench"></i>Home Repair</button>
        <% end %>

        <%= link_to services_path(category: "Car Detailing and Maintenance"), class: "text-decoration-none text-reset" do %>
            <button class="btn-primary-opposite p-2 rounded-pill mx-2 my-3"><i class="fa-solid fa-car"></i>Car Detailing</button>
        <% end %>
    </div>

</div>

<div class="banner-container" style="position: relative;">
  <img src="<%= asset_path('banner.jpg') %>" alt="Banner Image" class="banner-image" style="width: 100%;">
  <div class="banner-text p-4" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; text-align: center;">
    <h2 class="text-center fs-1">Find local experts instantly</h2>
    <p class="text-center fs-5">Bantu connects you with reliable local professionals for all your needs. Simply search for the service you need and book a trusted worker in your area within minutes.</p>
  </div>
</div>
<div class="banner-container" style="position: relative;">
  <img src="<%= asset_path('banner2.jpg') %>" alt="Banner Image" class="banner-image" style="width: 100%;">
  <div class="banner-text p-4 rounded-4" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; text-align: center;">
    <h2 class="text-center fs-1">Grow Your Business Effortlessly</h2>
    <p class="text-center fs-5">Join Bantu as a worker to connect with clients in your area looking for your services. Our platform makes it easy to find new job opportunities, manage bookings, and grow your business with minimal effort.</p>
  </div>
</div>
