<div class="title-requests w-100 mb-3" data-controller="requests">
  <h2 class="mb-4">Your requests</h2>
</div>

<div class="btn-group mb-3 w-100" role="group">
  <%= link_to "Pending", dashboard_path(status: "pending"), class: "btn rounded btn-primary #{'active' if params[:status] == 'pending' || params[:status].nil?}" %>
  <%= link_to "Accepted", dashboard_path(status: "accepted"), class: "btn rounded mx-3 btn-success #{'active' if params[:status] == 'approved'}" %>
  <%= link_to "Declined", dashboard_path(status: "declined"), class: "btn rounded btn-danger #{'active' if params[:status] == 'declined'}" %>
</div>

<div class="requests">
  <% @requests.each do |request| %>
    <div class="srvc-card d-flex flex-row justify-content-between p-3 mb-3">
      <div class="card-info text-start">
        <p><strong>Request delivery time:</strong> <%= request.date.strftime("%d, %B %Y")%></p>
        <p><strong>Request description:</strong> <%= request.description %></p>
        <p><strong>Request duration:</strong> <%= request.duration %> hour(s)</p>
        <% if request.status == "pending" %>
        <div class="justify-content-space-between text-center">
          <button class="btn rounded btn-success" data-action="click->requests#accept" data-requests-target="acceptbutton">Accept</button>
          <button class="btn rounded btn-danger" data-action="click->requests#decline"data-requests-target="declinebutton">Decline</button>
        </div>
        <% else %>
        <% end %>
      </div>
    </div>
  <% end  %>

  <% if @requests.empty? %>
    <p>No requests found for this status.</p>
  <% end %>
</div>
