<div class="srvc-card d-flex flex-row justify-content-between p-3 mb-3" data-bs-toggle="modal" data-bs-target="#requestview">
  <div class="card-info text-start w-100">
    <div class="rqst-info rounded-4 p-2 mb-2">
      <p class="m-0"><strong>Delivery time:</strong> <%= request.date.strftime("%d, %B %Y")%></p>
      <p class="m-0"><strong>Duration:</strong> <%= request.duration %> hour(s)</p>
    </div>
      <p class="m-0"><strong>Description:</strong><br> <%= request.description %></p>
      <% if request.status == "pending" %>
        <div class="justify-content-space-between text-center mt-3">
          <%= link_to 'accept', accept_request_path(request), data: { turbo_method: :post }, class: "btn btn-secondary" %>
          <%= link_to 'decline', decline_request_path(request), data: { turbo_method: :post }, class: "btn btn-red" %>
        </div>
      <% end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="requestview" tabindex="-1" aria-labelledby="requestViewLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4 p-3">
          <div class="modal-header rounded-4">
        <h5 class="modal-title" id="requestViewLabel"><%= request.service.title %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <!-- Request Details -->
        <div class="mb-3 d-flex flex-row align-items-center">
        <% if request.status == 'pending' %>
          <div class="rqst-status rounded-pill pending d-flex align-items-center"><span class="point"></span><%= request.status.capitalize %></div>
        <% elsif request.status == 'accepted' %>
          <div class="rqst-status rounded-pill accepted d-flex align-items-center"><span class="point"></span><%= request.status.capitalize %></div>
        <% elsif request.status == 'declined' %>
          <div class="rqst-status rounded-pill declined d-flex align-items-center"><span class="point"></span><%= request.status.capitalize %></div>
        <% end %>
        </div>
        <p><strong>Delivery time:</strong> <%= request.date.strftime("%d, %B %Y") %></p>
        <p><strong>Duration:</strong> <%= request.duration %> hour(s)</p>
        <p class="mt-2"><strong>Description:</strong><br> <%= request.description %></p>
        <hr class="my-4">

        <!-- Client Details -->
        <div class="client-info rounded-4 p-3 mt-3 d-flex flex-row align-items-center">
        <div class="d-flex align-items-center">
          <img
            src="<%= request.user.avatar %>"
            class="rounded-4 card-img me-3"
            alt="<%= request.user.first_name %> <%= request.user.last_name %>'s Avatar"
            style="width: 60px; height: 60px; object-fit: cover;"
          >
          <div>
            <p><strong>Client requested:</strong> <%= request.user.first_name %> <%= request.user.last_name %></p>
            <p><strong>Client contact:</strong> <%= request.user.phone_number %></p>
          </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
