<div class="profil-container p-4 rounded-4">
  <!-- Worker Details -->
  <div class="infos d-flex justify-content-start py-3 px-4 align-items-center flex-row">
    <%= cl_image_tag @worker.avatar, class: "rounded-4 infos-left", alt: "#{@worker.first_name} #{@worker.last_name}'s profile picture", width: 110, height: 110 %> 
    <div class="infos-right mx-2 px-3 text-start">
      <h1 class="mb-3">
        <%= @worker.first_name %> <%= @worker.last_name %>
      </h1>
      <p class="m-0">
        <strong>Phone Number:</strong>
        <% if @show_number %>
          <span class="text-muted" style="filter: blur(4px);"><%= @worker.phone_number %></span>
        <% else %>
          <span class="text-muted"><%= @worker.phone_number %></span>
        <% end %>
      </p>
      <p class="m-0">
        <strong>Email:</strong>
        <span class="text-muted"><%= @worker.email %></span>
      </p>
    </div>
    <%= link_to request.referrer || root_path, class: "btn btn-close btn-outline-secondary" do %>
    <% end %>
  </div>
  <!-- Worker Services -->
  <div class="categories mt-3">
    <h4 class="mt-4 mb-3 px-3"><strong>Services Provided</strong></h4>
      <div class="items d-flex flex-wrap justify-content-start">
        <% @worker.services.each do |service| %>
          <div class="item rounded-pill px-3 py-1 mx-2 my-2">
            <%= link_to service.title, service_path(service), class: "text-decoration-none" %>
          </div>
        <% end %>
      </div>
  </div>
</div>
